/GauthierMannaertWS/AlAzifWeb/.classpath
/GauthierMannaertWS/AlAzifWeb/.settings/
/GauthierMannaertWS/.metadata
/GauthierMannaertWS/AlAzifClient/.classpath
/GauthierMannaertWS/AlAzifClient/.settings/
/GauthierMannaertWS/AlAzifClient/target/m2e-wtp/web-resources/META-INF/maven/AlAzifClient/AlAzifClient/pom.properties