<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>alazif.servlets.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>alazif.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>alazif.servlets.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>WriterList</servlet-name>
  	<servlet-class>alazif.servlets.WriterList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WriterList</servlet-name>
  	<url-pattern>/writerlist</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CreatureList</servlet-name>
  	<servlet-class>alazif.servlets.CreatureList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreatureList</servlet-name>
  	<url-pattern>/creaturelist</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NovelList</servlet-name>
  	<servlet-class>alazif.servlets.NovelList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NovelList</servlet-name>
  	<url-pattern>/novellist</url-pattern>
  </servlet-mapping>
</web-app>