<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>alazif.servlets.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>alazif.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>alazif.servlets.Disconnect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriterList</servlet-name>
    <servlet-class>alazif.servlets.WriterList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriterList</servlet-name>
    <url-pattern>/writerlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatureList</servlet-name>
    <servlet-class>alazif.servlets.CreatureList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatureList</servlet-name>
    <url-pattern>/creaturelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NovelList</servlet-name>
    <servlet-class>alazif.servlets.NovelList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovelList</servlet-name>
    <url-pattern>/novellist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriterModel</servlet-name>
    <servlet-class>alazif.servlets.WriterModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriterModel</servlet-name>
    <url-pattern>/writer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NovelModel</servlet-name>
    <servlet-class>alazif.servlets.NovelModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovelModel</servlet-name>
    <url-pattern>/novel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreatureModel</servlet-name>
    <servlet-class>alazif.servlets.CreatureModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatureModel</servlet-name>
    <url-pattern>/creature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCritic</servlet-name>
    <servlet-class>alazif.servlets.AddCritic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCritic</servlet-name>
    <url-pattern>/addcritic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddWriter</servlet-name>
    <servlet-class>alazif.servlets.AddWriter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWriter</servlet-name>
    <url-pattern>/addwriter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNovel</servlet-name>
    <servlet-class>alazif.servlets.AddNovel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNovel</servlet-name>
    <url-pattern>/addnovel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCreature</servlet-name>
    <servlet-class>alazif.servlets.AddCreature</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCreature</servlet-name>
    <url-pattern>/addcreature</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyNovel</servlet-name>
    <servlet-class>alazif.servlets.ModifyNovel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyNovel</servlet-name>
    <url-pattern>/modifynovel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteElement</servlet-name>
    <servlet-class>alazif.servlets.DeleteElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteElement</servlet-name>
    <url-pattern>/deleteelement</url-pattern>
  </servlet-mapping>
</web-app>